<!-- Navbar: start -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="mynavbar">
    <div class="container">
        <a class="navbar-brand"routerLink="/">Foodtour</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        HN
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">HCM</a>
                        <a class="dropdown-item" href="#">HP</a>
                        <a class="dropdown-item" href="#">NĐ</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Food</a>
                </li>
            </ul>
            <ul class="navbar-nav mt-2 mt-lg-0">
                <li class="nav-item">
                  <a *ngIf="!user" class="nav-link" routerLink="/sign-in" routerLinkActive="active">Login</a>
                  <span *ngIf="user" class="nav-link">{{ user.name }}</span>
                </li>
                <li class="nav-item">
                    <button *ngIf="user" class="nav-link" (click)="logout()"> Logout</button>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar: end -->
